
DATABASE_URL=xxxxxxx
DATABASE_TYPE=pssql
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=xxxxx
DATABASE_NAME=otc_admin
DATABASE_USERNAME=postgres
DATABASE_SYNCHRONIZE=true 

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=689649f0479e8a
MAIL_PASS=aa98adcd9925b6
JWT_SECRET=replace_this_with_a_long_random_secret
AUTH_JWT_TOKEN_EXPIRES_IN=3600
